@media only screen and (max-width: 600px) {
  
    .repos {
     width: 95%;
     word-wrap: break-word;
     /* display: block; */
     /* height: 10%; */
   }
   .info  {
     min-width: 220px;
     font-size: small;
   }
 
   h1{
     font-size: 1.6rem;
   }
 
   .additional{
     width: 130px;
   }
   #bio{
     width: 200px;
   }
 
   .info button{
     width: 180px;
   }  
   .profile  * {
     width: calc(100%-500px);
   }
   
   .repositories button{
     width: 60%;
   }
 }