.App {
  margin: 0 40% !important;
}


form{
  display: inline-block;
  
}

input{
  display: block;
  padding: 10px;
  margin: 5px;
}

.delete{
  cursor: pointer;
  margin: 10px;
  vertical-align: middle;
  
}

body{
  background-color: blue;
  font-family: 'Courier New', Courier, monospace;
}

.submit{
  color: white;
  background-color: black;
  border-radius: 8px;
  cursor: pointer;
}

.submit:hover{
  background-color: red;
}

.showAdd{
  color: white;
  background-color: red;
}

.showHide{
  background-color: green;
  color: white;
}